<body>
    <app-encabezado></app-encabezado>
    <app-navbar></app-navbar>

    <!-- Categorias -->
    <section id = "foroSection1">
        <!-- <nav>
            <ul class="ulCategorias">
                <li><a href="foro.html">MATEMÁTICAS</a></li>
                <li><a href="foro.html">LITERARUTA</a></li>
                <li><a href="foro.html">QUÍMICA</a></li>
                <li><a href="foro.html">HISTORIA</a></li>
                <li><a href="foro.html">BIOLOGÍA</a></li>
                <li><a href="foro.html">INGLES</a></li>
                <li><a href="foro.html">ALGEBRA</a></li>
                <li><a href="foro.html">OTROS</a></li>
            </ul>
        </nav> -->

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4276e7">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-custom mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">MATEMÁTICAS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">LITERATURA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">QUÍMICA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">HISTORIA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">BIOLOGÍA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">INGLES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">ALGEBRA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">OTROS</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>

    </section>

    <section id = "foroSection2">

        <div class="container align-items-center  " >

            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4276e7">
                <div class="container-fluid">

                    <div class="navbar-nav mx-auto">
                        <a class="nav-link" aria-current="page" [routerLink]="['/foro']">Mas Populares</a>
                        <a class="nav-link" [routerLink]="['/foro']">Mejor Votados</a>
                        <a class="nav-link" [routerLink]="['/foro']">Recientes</a>
                    </div>

                </div>
            </nav>
    

            <div id="foros" class="container">
                <div class="row row-cols-1">
                    <div class="borde col" >
                        <h1> <a href="#">Pregunta </a></h1>
                        <p class="text-center">Descripcion de la Pregunta</p>
                    </div>

                    <div class="borde col" >
                        <h1> <a href="#">Pregunta </a></h1>
                        <p class="text-center">Descripcion de la Pregunta</p>
                    </div>
                    <div class="borde col">
                        <h1> <a href="#" >Pregunta </a></h1>
                        <p class="text-center"> Descripcion de la Pregunta</p>
                    </div>
                    <div class="borde col">
                        <h1> <a href="#">Pregunta </a></h1>
                        <p class="text-center"> Descripcion de la Pregunta</p>
                    </div>
                    <div class="borde col">
                        <h1> <a href="#">Pregunta </a></h1>
                        <p class="text-center">Descripcion de la Pregunta</p>
                    </div>
                    
                </div>
              </div>

        </div>
            

    </section>

    <footer>
        <p>&copy; Derechos reservados LGM</p>
        <ul class="pie">
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="">Whatsapp</a></li>
        </ul>
    </footer>

</body>