<body>

    <app-encabezado></app-encabezado>
    <app-navbar></app-navbar>
    <!-- OPCIONES DE COMUNIDAD -->

    <section id = "comSection1">
     
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4276e7">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav navbar-custom mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">GRUPOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">DISCUCIONES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">NOTICIAS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="#">TODO</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>
    </section>

    <section id = "comSection2">

      <div class="container align-items-center  " >

          <div id="com" class="container">
              <div class="row ">
                  <div class="borde col-md-6 col-lg-4" >
                      <h1> <a href="#">Seccion </a></h1>
                      <div class="custom container">
                        <p class="text-center">Detalles</p>
                      </div>
                  </div>

                  <div class="borde col-md-6 col-lg-8" >
                      <h1> <a href="#">Seccion </a></h1>
                      <div class="custom container">
                        <p class="text-center">Detalles</p>
                      </div>
                  </div>
                  <div class="borde col-md-6 col-lg-8">
                      <h1> <a href="#" >Seccion </a></h1>
                      <div class="custom container">
                        <p class="text-center">Detalles</p>
                      </div>
                  </div>
                  <div class="borde col-md-6 col-lg-4">
                      <h1> <a href="#">Seccion </a></h1>
                      <div class="custom container">
                        <p class="text-center">Detalles</p>
                      </div>
                  </div>
                  <div class="borde col-md-6 col-lg-4">
                      <h1> <a href="#">Seccion </a></h1>
                      <div class="custom container">
                        <p class="text-center">Detalles</p>
                      </div>
                  </div>
                  <div class="borde col-md-6 col-lg-8">
                      <h1> <a href="#">Seccion </a></h1>
                      <div class="custom container">
                        <p class="text-center">Detalles</p>
                      </div>
                  </div>
                  
              </div>
            </div>

      </div>
          

  </section>


    <footer>
        <p>&copy; Derechos reservados LGM</p>
        <ul class="pie">
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="">Whatsapp</a></li>
        </ul>
    </footer>
</body>
