<body>
    <app-encabezado></app-encabezado>
    <app-navbar></app-navbar>

    <div class="me-xl-3 pt-3 px-3 pt-xl-5 px-xl-5 text-center overflow-hidden" style="background-image: url('../../../assets/imagenes/universitarios1.png'); background-repeat: no-repeat; background-size: cover ;height: 110vh;">
        <main class="text-center">
            <div class="panel">

                <form class="row g-3 needs-validation" novalidate>

                    <h1 id="titulo" class="h3 mb-3 fw-normal">Registro</h1>

                    <div class="form-floating ">
                        <input type="text" class="form-control" id="floatingInput" required placeholder="Nombre">
                        <label for="floatingInput" class="text-center">Nombre Completo</label>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">*Este campo es obligatorio</div>
                    </div>

                    <div class="form-floating ">
                        <input type="EMAI" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                        <label for="floatingInput" class="text-center">Correo Electrónico</label>
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">*Ingrese un email valido</div>
                    </div>

                    <div class="form-floating" >
                        <input type="text" class="form-control" id="floatingPassword" placeholder="12345678-k" pattern="\d{3,8}-[\d|kK]{1}" required>
                        <label for="floatingPassword">RUT</label>
                        <div class="invalid-feedback">*Formato: 12345678-k</div>
                    </div>

                    <div class="form-floating" >
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                        <label for="floatingPassword">Contraseña</label>
                        <div class="invalid-feedback">*Este campo es obligatorio</div>
                    </div>
    
                    <div class="form-floating" required>
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                        <label for="floatingPassword">Repetir contraseña</label>
                        <div class="invalid-feedback">*Las contraseñas deben ser iguales</div>
                    </div>
    
                    <!-- <div class="checkbox mb-3">
                        <label id="idRecuerdame">
                            <input type="checkbox" value="remember-me"> Recordarme
                        </label>
                    </div> -->

                    <!-- <button class="w-100 btn btn-lg btn-primary" type="submit">Registrarse</button> -->
                    <button class="btn btn-primary" type="submit">Registrarse</button>
                    <p id="extraOptions" class="mt-3 mb-3">
                        Ya tengo una cuenta <br/>
                        <a [routerLink]="['/iniciar-sesion']">Iniciar Sesión</a><br/>
                        
                    </p>
                </form>
            </div>
        </main>
    </div>
</body>